{% extends 'join/base.html.twig' %}
{% block header %}
    {{ title }}
{% endblock %}
{% block content %}



    <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
        <p class="text-center">{{ message }}</p>


    </div>

{% endblock %}
