<div class="wrapper">
    <div class=" externalChat conference-icon" id="toggleFilmstripe">
        <i class="fa-solid fa-film"></i>
    </div>
    <div class="wrapper-helper">
        {{ 'options.toggleFilmstripe'|trans }}


    </div>
</div>

