<div id="logo_image" class="stick">
    <img class="d-none d-sm-block" src="{{ logo_small }}"
         alt="Logo"
         style="height: 50px; width: auto">
    <img class="d-block d-sm-none" src="{{ logo_large }}"
         alt="Logo"
         style="height: 50px; width: auto">
</div>