knp_gaufrette:
    stream_wrapper: ~
    adapters:
        document_adapter:
            aws_s3:
                service_id: ct_file_store.s3
                bucket_name: '%env(AWS_BUCKET_NAME)%'
                detect_content_type: true
                options:
                    create: true
                    directory: profile
        local_adapter:
            local:
                directory: '%kernel.project_dir%/public/uploads/images'

    filesystems:
        document_fs:
            #adapter: document_adapter
            adapter: local_adapter

vich_uploader:
    db_driver: orm
    storage: gaufrette
    metadata:
        type: attribute
    mappings:
        profile:
            inject_on_load: true
            #uri_prefix: "%env(AWS_BASE_URL)%/%env(AWS_BUCKET_NAME)%/profile"
            uri_prefix: "%env(VICH_BASE)%/uploads/images"
            upload_destination: document_fs
            delete_on_update: true
            delete_on_remove: true
            namer: vich_uploader.namer_uniqid



