*
!assets
!bin
!config
!public
!public.key
!src
!templates
!tests
!*.sh
!composer.json
!composer.lock
!package-lock.json
!package.json
!symfony.lock
!webpack.config.js
!.env
!local-php-security-checker