*
!translations
!assets
!jitsi-admin_messenger_docker.conf
!bin
!config
!public
!public.key
!key.pub
!src
!templates
!theme
!migrations
!tests
!composer.json
!composer.lock
!package-lock.json
!package.json
!symfony.lock
!webpack.config.js
!.env*
!local-php-security-checker
