*
!translations
!assets
!bin
!config
!public
!public.key
!src
!templates
!theme
!migrations
!tests
!dockerupdate.sh
!composer.json
!composer.lock
!package-lock.json
!package.json
!symfony.lock
!webpack.config.js
!.env*
!local-php-security-checker