DATABASE_URL=mysql://<user>:<password>@<server>:3306/<database>
DATABSE_SERVER=<mariadb-10.4.6>

###> symfony/framework-bundle ###
APP_ENV=dev/prod
APP_DEBUG=1/0
APP_SECRET=<app_secret>

###> symfony/swift_mailer ###
MAILER_HOST=<host>
MAILER_PORT=587
MAILER_PASSWORD=<password>
MAILER_USERNAME=<username>
MAILER_ENCRYPTION=tls
MAILER_TRANSPORT=smtp

###ODC Parameters###
imprint=</impressum>
dataPrivacy=</datenschutzhinweis>

###Cron Parameters###
CRON_TOKEN=<sha256>
CRON_IPADRESS=127.0.0.1

###Emails###
registerEmailAdress=register@datenschutz.domain.com
registerEmailName=datenschutz.domain.com
defaultEmailAdress=test@domain.com
defaultEmailName=test

AKADEMIE_EMAIL=akademie@domain.com
DEV_EMAIL=dev@domain.com
DEFAULT_EMAIL=not@domain.com
SUPPORT_MAIL=support@lokal.lokal

TRUSTED_PROXIES=127.0.0.1

###> hwi/oauth-bundle ###
OAUTH_KEYCLOAK_CLIENT_ID=addHere
OAUTH_KEYCLOAK_CLIENT_SECRET=addHere
OAUTH_KEYCLOAK_SERVER=addHere/auth
OAUTH_KEYCLOAK_REALM=addHere
###< hwi/oauth-bundle ###

###> demo ###
# demo_installation=demo
###< demo ###

###> LaF ###
laF_version=2.0.0-dev
###< LaF ###