DATABASE_URL=mysql://<user>:<password>@<server>:<databasePort>/<database>
DATABSE_SERVER=<mariadb-10.4.6>

###> symfony/framework-bundle ###
APP_ENV=prod
APP_DEBUG=0
APP_SECRET=<app_secret>

###> symfony/swift_mailer ###
MAILER_HOST=<smtpHost>
MAILER_PORT=<smtpPort>
MAILER_PASSWORD=<smtpPassword>
MAILER_USERNAME=<smtpUsername>
MAILER_ENCRYPTION=<smtpEncryption>
MAILER_TRANSPORT=smtp

###ODC Parameters###
imprint=</impressum>
dataPrivacy=</datenschutzhinweis>
helpUrl=</help>

###Cron Parameters###
CRON_TOKEN=<sha256>
CRON_IPADRESS=127.0.0.1

###Emails###
registerEmailName=datenschutz.domain.com
DEV_EMAIL=dev@domain.com
DEFAULT_EMAIL=not@domain.com

TRUSTED_PROXIES=127.0.0.1

###> hwi/oauth-bundle ###
OAUTH_KEYCLOAK_CLIENT_ID=<keycloakClientId>
OAUTH_KEYCLOAK_CLIENT_SECRET=<keycloakClientSecret>
OAUTH_KEYCLOAK_SERVER=<keycloakServer>
OAUTH_KEYCLOAK_REALM=<keycloakRealm>
###< hwi/oauth-bundle ###

###> demo ###
demo_installation=prod
###< demo ###

###> matomo ###
matomo_enable=false
matomo_id=1
matomo_url=analytics.local.com
###< matomo ###


###> LaF ###
laF_bbb=0
laF_startpage=false
laF_onlyRegisteredParticipents=0
laF_version=2.0.0-dev
laF_pexel_api_key=#EnterAPIKeyHere
laF_pexel_refresh_time=1200
laF_baseUrl=<baseUrl>
laF_emailTextLogin=1
laf_CreateServerOpenToEveryone=1
laf_keycloakGroupToCreateServer=/user
laf_administratorEmail=admin@localhost.de
laf_notificationUrl=""
###< LaF ###

###> Default Jitsi Server ###
default_jitsi_server_id=0
###< Default Jitsi Server ###