parameters:
    level: 6
    paths:
        - src
        - tests
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2

    ignoreErrors:
        # Doctrine populates generated $id values via reflection, so PHPStan cannot see the write.
        - '#^Property App\\Entity\\[^:]+::\$id is never written, only read\.$#'
