includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 7
    paths:
        - src
        - tests
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2

    symfony:
        containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml

    ignoreErrors:
        # Doctrine populates generated $id values via reflection, so PHPStan cannot see the write.
        - '#^Property App\\Entity\\[^:]+::\$id is never written, only read\.$#'
