<!-- Footer -->
<div id="footer">
    <div>
        <ul class="nav">

            <li class="nav-item">
                <a class="nav-link" target="_blank" referrerpolicy="no-referrer" href="{{ imprint }}">Impressum</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" target="_blank" referrerpolicy="no-referrer"
                   href="{{ dataPrivacy }}">Datenschutzhinweis</a>
            </li>
            <li class="nav-item d-none d-md-block">
                <a class="nav-link d-none d-md-block" target="_blank" referrerpolicy="no-referrer"
                   href="https://github.com/H2-invent/open-datenschutzcenter/issues">Fehler melden</a>
            </li>
            <li class="nav-item d-none d-xl-block">
                <a class="nav-link" target="_blank" referrerpolicy="no-referrer"
                   href="https://h2-invent.com/software/odc">Made with ❤ by H2 invent • {{ 'now'|date('Y') }}
                    • v{{ laf_version }}</a>
            </li>

        </ul>
    </div>
</div>
<!-- Footer -->