<!-- Sidebar  -->
<nav id="sidebar" class="scrollbar-deep-purple bordered-deep-purple thin overflow-auto">
    <div class="sidebar-header">
        <a href="{{ path('dashboard') }}"><img src="{{ asset('logo.png') }}" class="img-fluid"></a>
    </div>

</nav>

