{% if app.request.query.get('snack') %}
    {% set snack = app.request.query.get('snack') %}
{% endif %}

{% if snack is defined and snack is not null  %}
    {% if app.request.query.get('color') %}
        {% set color = app.request.query.get('color') %}

    {% endif %}

    <div id="snackbar"
         class="bg-{% if color is defined and color is not null %}{{ color }}{% else %}success{% endif %}">{{ snack }}</div>
{% else %}
    <div id="snackbar"
         class="bg-success d-none"></div>

{% endif %}

