
<div class="snackbar">
    <div id="snackbar"
         class="bg-success d-none snackbar"></div>
    {% for message in app.flashes('success') %}
        <div class="bg-success innerOnce">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="bg-danger innerOnce">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="bg-warning innerOnce">{{ message }}</div>
    {% endfor %}
</div>

{% set modalUrl = app.flashes('modalUrl') %}
{%  if modalUrl |length > 0 %}
<script>
    var modalUrl = '{{ modalUrl[0] }}';
</script>
{% endif %}

