{% if snack is defined and snack is not null %}
    <div id="snackbar" class="bg-{% if app.request.query.get('color') is not null %}{{ app.request.query.get('color') }}{% else %}success{% endif %}">{{ snack }}</div>
{% endif %}