<ul class="nav navbar-nav me-1 flex-row d-flex">


    <!-- Button trigger modal -->
    <!-- Basic dropdown -->
    <div class="custom-control custom-switch me-2 me-sm-4  ">
        <div class="d-flex justify-content-end">


            <span class="me-2"><i class="fas fa-sun brightmode"></i></span>
            <div class="form-check form-switch">
                <input class="form-check-input switchDarkmode" type="checkbox" role="switch"
                       id="switchDarkmode2"
                        {{ app.request.cookies.get('DARK_MODE') }}
                        {% if app.request.cookies.get('DARK_MODE') is defined and app.request.cookies.get('DARK_MODE') == 1 %}
                checked
                        {% endif %}/>
                <label class="form-check-label" for="switchDarkmode2">
                    <i class="fas fa-moon"></i>
                </label>
            </div>

        </div>
    </div>
    {% if laf_CreateServerOpenToEveryone == 1 or (laf_keycloakGroupToCreateServer in app.user.groups) %}
        {% if theme == false or theme.disableAddServer != true %}
            <a class=" me-2 me-sm-4 d-flex align-items-center"
               data-mdb-toggle="modal"
               data-mdb-target="#settings">
                <i class="fa-solid fa-server me-2"></i><span class="d-none d-lg-block"> {{ 'Server'|trans }}</span>

            </a>
        {% endif %}
    {% endif %}
    <a class=" me-2 me-sm-4"
       data-mdb-toggle="modal" data-mdb-target="#helpModal">
        <i class="fa-solid fa-circle-question"></i>

    </a>
    <!-- Button trigger modal -->


{{ include('base/__languageDropdown.html.twig') }}

    <!-- Basic dropdown -->


    <!-- To change the direction of the modal animation change .right class -->
    <!-- Side Modal Top Right -->

</ul>
