$main-color: #2561ef; //#04d9c4
$main-color-hover: lighten($main-color ,10%);
$main-color-activ: darken($main-color ,10%);
$sec-color: rgb(172, 26, 245);
$sec-color-hover: lighten($sec-color, 10%);
$sec-color-activ: rgb(244, 105, 104);
$contrast-base: rgb(85, 83, 80);
$contrast-dark: rgb(23, 21, 18);
$contrast-light: rgb(144, 142, 140);
$contrast-extra-light: rgb(255, 255, 255);
$contrast-white: rgb(253, 253, 253);
$black_background : #0d1117;
$black_background_active : #2d3443;
$black_navbar: #161b22;
$black_font-color:#c9d1d9;
$black_modal: #202529;
$black_link-color: #58a6ff;
$btn-primary: $main-color;
$black_modal_header: #003c60;
$black_link-color: #58a6ff;
$my-theme-primary: $main-color; // theme primary color, change this value to customize theme
$my-theme-secondary: $sec-color; // theme secondary color, change this value to customize theme
$background-color: white;
$breakpointMenue: 1200px;
$utilities-border-colors: $main-color;
$in-a-meeting: #0158B0;
$online: #00B047;
$away:#F9A825;
$success-color:        #14a44d !default;
$warning-color:        #e4a11b !default;
$danger-color:         #dc4c64 !default;
$cardBackground_bright: scale-color($main-color, $lightness: 97%);
$cardBackground_dark: transparent;
$card-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2),
0px 3px 4px 0px rgba(0, 0, 0, 0.14),
0px 3px 3px -2px rgba(0, 0, 0, 0.12);
$card-box-shadow-3dp:0px 1px 8px 0px rgba(0, 0, 0, 0.2),
0px 3px 4px 0px rgba(0, 0, 0, 0.14),
0px 3px 3px -2px rgba(0, 0, 0, 0.12);
