@import '~datatables.net-dt/css/jquery.dataTables.css';
@import '~mdbootstrap/css/bootstrap.css';
@import '~mdbootstrap/css/mdb.css';
@import '~datatables.net-buttons-dt/css/buttons.dataTables.css';
@import "~vis-network/styles/vis-network.css";
@import "style.css";
@import "select-css.css";
@import "~summernote/dist/summernote-bs4.min.css";
@import "~bootstrap-select/dist/css/bootstrap-select.min.css";