<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">

        <div class="modal-header  light-blue darken-3 white-text">
            <h5 class="modal-title">{{ 'Terminplaner'|trans }}</h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 col-xl-6">
                    {% include 'schedule/_dateInput.html.twig' with {
                        reloadUrl: path('app_scheduler_public_creator', {'room_id': room.uid, 'user_id': user.uid}),
                        addUrl: path('app_scheduler_public_creator_add', {'room_id': room.uid, 'user_id': user.uid})
                    } %}

                    <a href="#" class="btn btn-primary w-100" onClick="window.location.reload();">{{ 'Schließen'|trans }}</a>
                </div>

                <div class="col-12 col-xl-6 mt-4 mt-xl-0 gap-4">
                    <h6>{{ 'Termine'|trans }}</h6>
                    {% include 'schedule/_slotListSimple.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>
