<div class="col-xs-12 col-sm-6 col-md-4  col-lg-2 mb-3">
    <div class="card text-center hoverable">
        <a href="{{ path('room_join',{'room':room.id,'t':'b'}) }}" target="_blank">
        <div class="card-body">
            <h5 class="card-title">
                {{ room.name }} <i class="fa fa-edit"></i>
            </h5>
            {% if app.user == room.moderator %}
                <span class="badge badge-info"{% if theme %} style="background-color: {{ theme.colorBadgeModerator }} !important;" {% endif %}>{{ 'Moderator'|trans }}</span><br>
            {% endif %}
            <div class="card-text">

            </div>
        </div>
        </a>
    </div>
</div>