<p class="small text-center">

    {% if server and server.privacyPolicy %}
        {% if theme %}
            {% trans with {'{url}': server.serverName,'{privacyUrl}':server.privacyPolicy} %}join.privacy.theme{% endtrans %}
        {% else %}
            {% trans with {'{dataPrivay}': dataPrivacy,'{url}': server.serverName,'{privacyUrl}':server.privacyPolicy} %}
                join.privacy.ownServer
            {% endtrans %}
        {% endif %}
    {% else %}
        {% trans with {'{dataPrivay}': dataPrivacy} %}
            Ich habe die <a href="{dataPrivay}" target="_blank" referrerpolicy="no-referrer">
            <u>Datenschutzhinweise von Jitsi Admin</u> <i class="fa fa-external-link-alt"></i></a>
            gelesen und nehme diese zur Kenntnis.
        {% endtrans %}
    {% endif %}
</p>
{% if not server %}
    <p style="font-size: 10px">
        {% trans %}Wir weisen darauf hin, dass Sie durch das klicken auf "Beitreten" auf einen Jitsi-Meet-Server weitergeleitet werden. Jitsi Admin gibt den "Name" aus dem Formular an den Jitsi-Meet-Server weiter.{% endtrans %}
    </p>
{% endif %}
