<ul class="nav navbar-nav align-items-end">
    <div class="d-flex me-1 align-items-center">
        <li class="nav-item me-2">
            <a href="{{ path('dashboard') }}" class="btn btn-primary">{{ 'Login'|trans }}</a>
        </li>
    </div>
</ul>
