$border-width-entry: 6px;

.capital-Letter {
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-bottom: none;
  border-top: none;
  padding-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  background: none !important;
}

.adressbookline {
  padding: 14px 12px 14px 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  border-top-width: 1px !important;
  box-shadow: $card-box-shadow;
  margin-left: 4px;
  margin-right: 4px;
  background-color: $cardBackground_bright;
  .name {
    i {
      margin-right: 0.5rem !important;
    }
  }

  .icon {
    .dropdown-toggle {
      width: max-content;
    }
  }

  .profilepicture {
    height: 44px;
    min-width: 44px;
    max-width: 44px;
    background-size: cover;
    background-position: center;
    border-radius: 5000px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    background-repeat: no-repeat;
    .dot {
      bottom: -10%;
      right: -10%;
      width: 33%;
      height: 33%;;
      border-radius: 5000px;
      position: absolute;
    }
  }

  p {
    font-size: 1em;
    line-height: 1.1em;

    small {
      font-size: 0.9em;
      line-height: 0.95em;
    }
  }
}



#modalAdressbookBody {
  height: 100%;
  display: flex;
  flex-direction: column;

  .adressbookline {
    display: flex;
    justify-content: space-between;
  }

  .register {
    margin-right: 8px;
    .registerElement {
      padding: 0.1em 0.5rem 0.1em 0.5rem;
      font-size: 0.75em;

      &.adressBookPointOut {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: .2rem;
      }
    }
  }

  .nav-mat {
    flex: 1;
  }

  .tab-content {
    height: 100%;

    .tab-pane {
      height: 100%;

      .register {
        overflow-y: auto;
      }

      .textarea {
        width: 100%;
        display: flex;
        flex-direction: column;

        .topbar {
        }

        .content {
          overflow-y: auto;
          min-height: 50%;

          .adressBookPointOut {
            &:before {
              font-family: "Font Awesome 5 Free";
              margin-right: 0.5em;
              font-weight: 900;
              float: left;
              content: "\f178";
            }
          }
        }
      }
    }
  }
}

.addressbookSearchHidden, .addressbookCategorieHidden {
  display: none !important;
}


[data-status="away"] {
  .dot {
    background-color: $away;
  }
  &.adressbookline{
    border-left: $border-width-entry $away solid;
  }
}

[data-status="offline"] {
  .dot {
    background-color: grey;
  }
}

[data-status="inMeeting"] {
  .dot {
    background-color: $in-a-meeting;

  }
  &.adressbookline{
    border-left: $border-width-entry $in-a-meeting solid;
  }
}

[data-status="online"] {
  .dot {
    background-color: $online;

  }
  &.adressbookline{
    border-left: $border-width-entry $online solid;
  }
}


.dot {
  &.with-icon {
    color: white;

    &:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 8px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

[data-status="away"] {
  .dot {
    &.with-icon {
      &:before {
        content: "\f1da";
      }
    }
  }
}

[data-status="offline"] {
  .dot {
    &.with-icon {
      &:before {

        content: "\58";
      }
    }
  }
}

[data-status="inMeeting"] {
  .dot {
    &.with-icon {
      &:before {

        content: "\f095";
      }
    }
  }
}

[data-status="online"] {
  .dot {
    &.with-icon {
      &:before {

        content: "\f00c";
      }
    }
  }
}


@mixin statusDot {
  a {
    display: flex;
    align-items: center;

    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50000px;
      margin-right: 4px;
    }


  }
}


.onlineSelector {
  @include statusDot();
}




