
.jitsiadminiframe {
  position: absolute;
  transform: translate(50px, 50px);
  width: 500px;
  height: 500px;
  z-index: 100;
  background-color: white;
  box-sizing: border-box;
  touch-action: none;
  
  display: flex;
  flex-direction: column;
  box-shadow: $card-box-shadow-3dp;
  overflow: hidden;

  &:not(.maximized,.minified) {
    border: 8px solid $background-color;
    border-radius: 8px;
    .dragger {
      cursor: move;
    }
  }


  .iframeFrame {
    flex-grow: 1;
    background-color: inherit;
    border-radius: 8px;
  }

  .headerBar {
    width: 100%;
    display: flex;

    padding: 4px;
    justify-content: space-between;
    background-color: $background-color;


    .dragger {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .actionIconLeft {
      display: flex;
      align-items: center;

      .actionIcon {
        height: 20px;
        width: 20px;
        font-size: 20px;
        line-height: 1;
        justify-content: space-between;
        margin-left: 1rem;
        cursor: pointer;
        text-align: end;

      }
    }
  }

  iframe {
    height: 100%;
    width: 100%;
  }
}

.blackMode {
  .jitsiadminiframe {
    border: 8px solid $black_background;

    .headerBar {
      background-color: $black_background;
      color: $black_font-color;

      .actionIcon {
        color: $black_font-color;
      }
    }
  }
}

.moveable-line, .moveable-control {
  background: none !important;
  border: 3px transparent solid !important;

}

.minified {
  transform: none !important;
  position: absolute !important;
  height: unset !important;
  flex-direction: column-reverse !important;
  bottom: 0;
  left: 0;
  z-index: 500 !important;
  border-width: 8px !important;
  border-style: solid;
  border-color: transparent;
  @media (min-width: $breakpointMenue) {
    max-width: 50vw;
  }

  [class^="fa-"] {
    display: none;
  }

  .actionIconLeft {
    display: none !important;
  }

  .headerBar {
    padding: 0 !important;
    cursor: pointer !important;

    .dragger {
      cursor: pointer !important;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100% !important;
      white-space: nowrap !important;
      padding-right: 8px;
      padding-left: 8px;
    }
  }

  &:hover > .iframeFrame {
    height: 33vh !important;
    -webkit-transition-delay: 0.25s;
    -moz-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    transition-delay: 0.25s;

  }

  .iframeFrame {
    height: 0 !important;
    //-webkit-transition-delay: 0s;
    //-moz-transition-delay: 0s;
    //-ms-transition-delay: 0s;
    //-o-transition-delay: 0s;
    //transition-delay: 0s;
    transition: height 0.2s ease-in;
  }
}

.iframeFrame {
  position: relative;

  .pausedFrame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Font Awesome 5 Free";
    color: white;
    font-size: 7em;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
