.max-vh60 {
  max-height: 60vh;
  overflow: hidden;
  overflow-y: auto;
}

.scrollHorizontal {
  overflow: hidden;
  overflow-x: auto;
}
.scrollEle{
  border-right: solid 1px gray;
  padding-right: 8px;
  padding-left: 8px;
}
.addParticipants{
  padding: 0.25rem 0.5rem;
}
.addParticipants i{
  padding-right: 0.75rem;
}
