body {
  overscroll-behavior-y: contain;
}

#lobbyWebcam {
  width: 100%;
  height: auto;
}

.webcamArea {
  position: relative;
  background-image: url("../../image/defaultUser.webp");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.webcamToolbar {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 3px;
  padding-left: 8px;
  opacity: 1;
  transition: opacity 0.5s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.webcamArea:hover > .webcamToolbar {
  opacity: 1;
}

.webcamToolbar > i {
  cursor: pointer;
}

.initialCircle {
  background-color: black;
  display: flex;
  justify-content: center;
  width: 75px;
  border-radius: 50%;
  height: 75px;
  align-items: center;
  font-size: 40px;
  color: white;
}


.webcamArea > .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.4);
  opacity: 1;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 18px;
}

.webcamArea:hover > .overlay {
  opacity: 0;
}

.webcamArea > .overlay > .lds-roller div:after {
  background: white;
}

#jitsiWindow {
  height: inherit;
  overflow: hidden;
  position: relative;
}

#jitsiWrapper.inMeeting {
  position: absolute;
  top: 0;
  left: 0;
}

#col-waitinglist {
  &.large {
    padding-top: 18px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
}

.dragger {
  padding-right: 50px;
  padding-left: 50px;
  background-color: #ffffff;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  transition: background-color 1s;

  &:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107\00a0";
  }

  &:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\00a0\f107";
  }

  @keyframes blinkGreen {
    0% {
      background-color: white;
      color: black
    }
    50% {
      background-color: #00c851;
      color: white
    }
    100% {
      background-color: white;
      color: black
    }
  }

  &.active {
    background-color: #00c851;
    color: white;
    animation-name: blinkGreen;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
}


.lobbyWindow {
  display: flex;
  justify-content: center;
}

#sliderTop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  @media (min-width: 992px) {
    transition: transform 0.5s;
    &:hover {
      transform: translateY(0) !important;
      transition: transform 0.5s;

      .dragger {
        &:before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f106\00a0" !important;
        }

        &:after {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\00a0\f106" !important;
        }
      }
    }
  }
}


.selectedDevice {
  font-weight: bold;

  &:before {
    padding-right: 8px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da" !important;
  }
}

#col-waitinglist {
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  align-content: stretch;
}

#waitingUserWrapper {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.lobbyButtons {
  display: flex;
  flex-direction: row;
  @media (min-width: 600px) {
    width: max-content;
    max-width: 100%;
  }
  width: 100%;
}

.lobbyCard {
  .lobbyButtons {
    flex-direction: column;
  }
}

.blackMode.joinPage .modal-backdrop {
  background-image: radial-gradient($main-color, black);
  opacity: 1;
}

.joinPage .modal-backdrop {
  background-image: radial-gradient($main-color, white);
  opacity: 1;
}

.lobbyCard {
  .dropdown-toggle {
    display: flex;
    align-items: center;
  }
}

.dragger {
  width: fit-content;
}

.touchactionNone {
  touch-action: none;
}

.btn-group {
  margin-left: 0;
  margin-right: 0;

  .caretdown {
    max-width: max-content;
  }
}

.icon-holder {
  position: absolute;

  .feedbackSwipe {
    opacity: 0;
    align-items: center;
    display: flex;
    width: 100%;
    position: absolute;
    height: inherit;
    color: white;
    font-weight: bold;
    font-size: 2.5em;
  }

  .acceptSwipe {
    background-color: $success;
    padding-left: 18px;
    border-radius: 8px ;
  }

  .denieSwipe {
    padding-right: 18px;
    background-color: $danger;
    justify-content: end;
    border-radius:  8px;
  }
}

@keyframes showSwipe {
  0% {
    transform: translate(0px, 0);
  }
  33% {
    transform: translate(20px, 0);
  }
  66% {
    transform: translate(-20px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}

@media (max-width: 768px) {
  #waitingUser {
    .waitingUserCard {
      &:nth-child(1) {
        .card {
          animation-name: showSwipe;
          animation-duration: 1s;
          animation-iteration-count: 1;
          animation-delay: 1s;
        }
      }
    }
  }
}
.accessAllowed{
  position: absolute;
  background-color: rgb(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  p{
    margin: 0;
  }
  #lobby_participant_counter{
    font-size: 50px;
    color: white;
    line-height: 1;
  }
}
.textAllow{
  color: white;
}
#stopEntry{
  color: white!important;
  border-color: white!important;
}

