{% if isAllowedToOrganize(room,app.user) %}
    {{ include('dashboard/__roomOption.html.twig') }}


{% if  room.totalOpenRooms != true %}

    <a href="{{ path('room_add_user',{'room':room.id}) }}"
       class=" element btn btn-outline-primary loadContent moderator-participants"><i class="fa-solid fa-users"></i></a>
{% endif %}
{% if isAllowedToOrganize(room,app.user) and room.totalOpenRooms == true %}
    <a href="{{ path('room_enter_link',{'uid':room.uid}) }}"
       class=" element btn btn-outline-primary loadContent moderator-sharelink"><i class="fa fa-link"></i> {{ 'Beitretenlink'|trans }}</a>
  {% endif %}
{% endif %}
