<div class="dropdown element moderator-options">
    <button class="btn caretdown btn-outline-primary dropdown-toggle" type="button"
            id="dropdownMenu1"
            data-mdb-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        {{ 'Optionen'|trans }}
    </button>
    <ul class="dropdown-menu p-1" aria-labelledby="dropdownMenu1">
        <li>
            <a href="{{ path('room_add_user',{'room':room.id}) }}"
             class="dropdown-item loadContent">
                <i class="fa-solid fa-users"></i>
                {{ 'Teilnehmer verwalten'|trans }}
            </a>
        </li>
        {% if room.scheduleMeeting %}
            {% include 'dashboard/widget/__room_shedule.html.twig' %}
        {% elseif room.repeater %}
            {% include 'dashboard/widget/__room_series.html.twig' %}
        {% else %}
            {% include 'dashboard/widget/__room_common.html.twig' %}
        {% endif %}

    </ul>
</div>