<div class="card card-body mb-1 text-lg-start text-center triggerHide {% if room.start is not null and room.startTimestamp-600 < timestamp and room.startTimestamp > timestamp %} warningBorder {%endif%} {% if runningRooms is defined and room in runningRooms %} successBorder {% endif %}">
    <div class="row">

        {% include 'dashboard/__roomDetails.html.twig' with {'room':room} %}
        <div class="col-md-6 hide">
            {% if runningRooms is defined and room in runningRooms %} <div class="d-none">Running Room</div> {% endif %}
            {% if room.start is not null and room.startTimestamp-600 < timestamp and room.startTimestamp > timestamp %} <div class="d-none">almost running Room</div>  {%endif%}
            {{ include('dashboard/__roomOptionModerator.twig') }}
            {{ include('dashboard/__roomOptionParticipant.twig') }}

        </div>
    </div>
</div>

