<div class="dropdown element">
    <button class="btn caretdown btn-outline-primary dropdown-toggle" type="button"
            id="dropdownMenu1"
            data-mdb-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        {{ 'Optionen'|trans }}
    </button>
    <ul class="dropdown-menu p-1" aria-labelledby="dropdownMenu1">
        {% if room.scheduleMeeting %}
            {% include 'dashboard/widget/__room_shedule.html.twig' %}
        {% elseif room.repeater %}
            {% include 'dashboard/widget/__room_series.html.twig' %}
        {% else %}
            {% include 'dashboard/widget/__room_common.html.twig' %}
        {% endif %}

    </ul>
</div>