<div class="card card-body mb-1 text-lg-start text-center triggerHide {% if runningRooms is defined and room in runningRooms %} successBorder {% endif %}">
    <div class="row">

        {% include 'dashboard/__roomDetails.html.twig' with {'room':room} %}
        <div class="col-md-6 hide">

            {{ include('dashboard/__roomOptionModerator.twig') }}
            {{ include('dashboard/__roomOptionParticipant.twig') }}

        </div>
    </div>
</div>

