<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{ exception.statusCode }} - Jitsi-Admin</title>
    <style>
        body{
            height: 100vh;
            width: 100%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        {% block image %}
            background-image: url("/images/error/bg-error.jpg");
        {% endblock %}
            background-size: cover;
            background-position: center;
        }
        .glossy{
            /* From https://css.glass */
            background: rgba(0, 0, 0, 0.42);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(6.6px);
            -webkit-backdrop-filter: blur(6.6px);
            color: white;
        }
        .card{

        }
    </style>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>