{% extends 'email/base.html.twig' %}
{% block header %}
    {{'scheduling.completeVoting.header'|trans}}
{% endblock %}

{% block content %}
    <h4 class="text-center">
        {{ room.name }}
    </h4>
    <b>
        {{'Hallo!'|trans}}
    </b>
    <p>
        {% trans with {'{name}': room.name} %}scheduling.completeVoting.text{% endtrans %}
    </p>


    <p>
        {% if server is defined and  server is not null  and server.serverEmailBody is not null %}
            {{ server.serverEmailBody|nl2br }}
        {% endif %}
    </p>

{% endblock %}
