{% extends 'email/base.html.twig' %}
{% block header %}
   {{ 'Erinnerung zur Videokonferenz'|trans }}
{% endblock %}

{% block content %}
    <h4 class="text-center">
        {{ room.name }}
    </h4>
    <b>
        {{'Hallo!'|trans}}
    </b>
    <p>
        {% trans with {'{url}' : room.server.serverName} %}Die Videokonferenz auf dem Server {url} startet gleich. Über den beigefügten Link können Sie ganz einfach zur Videokonferenz beitreten.{% endtrans %}
    </p>
    {% include 'email/__roomInfo.html.twig' %}

{% endblock %}
