{% extends 'email/base.html.twig' %}
{% block header %}
    {{ 'Videokonferenz in Serienvideokonferenz umgewandelt'|trans }}
{% endblock %}

{% block content %}
    <h4 class="text-center">
        {{ room.name }}
    </h4>
    <b>
        {{'Hallo!'|trans}}
    </b>
    <p>
      {% trans with {'{name}': room.name} %}Die Veranstaltung {name} wurde in einen Serientermin 체berf체hrt. Sie erhalten vor jedem Termin eine E-Mail mit dem Link zur Einwahl.{% endtrans %}
    </p>
    <p>
        {% trans  %}Die angeh채ngte ics Datei enth채lt alle Termine der Serie als neuen Kalender.{% endtrans %}
    </p>
    <p>
        {% trans  %}Es wird empfohlen die iCal Funktion des Jitsi-Admins zu nutzen.{% endtrans %}
    </p>
    {% include 'email/__roomInfo.html.twig' %}

{% endblock %}
